#quote-promo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--LIGHT-HIGHLIGHT-COLOR);
    border-radius: 40px;
    padding: 1.5rem 1.25rem 1rem 1.25rem;
    /* margin: auto 1rem; */
}

h6 {
    font-weight: bold;
    font-size: 1.25rem;
}

#btn-group{
    display: flex;
    gap: 15px;
}

.quote-promo-btn {
    border: none;
    border-radius: 8px;
    padding: 0.5em 1.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--DARK-HIGHLIGHT-COLOR);
    cursor: pointer;
    color: white;   
}


@media screen and (max-width: 768px) {
    #quote-table-container {
        padding: 1.25rem 1rem 0.75rem 1rem;
        margin: 0;
    }

    h6 {
        font-size: 1.1rem;
    }
    
    .quote-promo-btn {
        padding: 0.5em 0.9em;
    }
}